<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title || 'Coraus' %></title>

    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <footer>
    <div class="container">
      <%= image_tag "coraus-logo-footer.png", class: 'logo' %>
      <p class="copyright">Coraus <%= Time.now.year %> | Todos os direitos reservados</p>
    </div>
  </footer>
</html>
